data/
*.pyc
*/__pycache__/
*.egg-info/
dist/

.coverage
.coverage.*
.pytest_cache/
log/

instance/
.idea/
db/
.DS_Store
uploads/
tests/tmp/
/migrations/*
*env*/*
*cert/

app/config/setting_test.py
app/config/setting_prod.py
